body{
    font-family: arial;
    background-color: rgb(127, 199, 217);
}
.Lg {
    padding-left: 50x;
}
nav a:hover {
    color: rgb(68, 126, 228);
    font-weight: bold;
}
nav li.active a {
    color: rgb(68, 126, 228);
    border-bottom: 2px solid rgb(68, 126, 228);
}
header {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    margin: auto;
    display: block;
    background-color: rgb(127, 199, 217);
}
div nav ul {
    background-color: rgb(127, 199, 217);
    padding: 30px 0px 20px 10px;
    margin: 0px 0px 0px 0px;
}
div nav ul li {
    display: inline-block;
    margin: auto;
    padding: 0px 140px 0px 33px;
}
div nav a {
    color: black;
    float: left;
    margin: -10px 5px 0px 5px;
    text-decoration: none;
}
.box {
    margin-top: 0px;
    margin-left: -5px;
    margin-right: -5px;
    border-top: 2px solid rgb(54, 84, 134);
    border-bottom: 2px solid rgb(54, 84, 134);
}
.h {
    text-align: center;
}
.p {
    margin-left: 1cm;
    margin-right: 1cm;
    text-align: justify;
    line-height: 2;
}
.b1 {
    display: inline-block;
}
.p1 {
    padding-left: 170px;
    padding-right: 190px;
}
.b2 {
    display: inline-block;
}
.p3 {
    padding-left: 170px;
    padding-right: 190px;
}
.b3 {
    display: inline-block;
}
.p5 {
    padding-left: 170px;
    padding-right: 190px;
}
.ba4 {
    background-color: rgb(15, 16, 53);
    color: white;
    position: absolute;
    line-height: 1.5;
    text-align: justify;
    padding-right: 60%;
    margin-top: 0px;
    top: 430%;
    left: -1%;
}
.ba5 {
    color: white;
    position: absolute;
    line-height: 1.5;
    text-align: justify;
    padding-left: 40%;
    margin-top: 0px;
    top: 430%;
    left: 5%;
}
.inlll {
    display: inline-block;
}
.foot {
    padding-left: 80px;
}
